{% extends 'base.html.twig' %}

  {% block body %}



    <div class="wrapper">
      <div class="container">
        <div class="content_block row no-sidebar">
          <div class="fl-container">
            <div class="posts-block">
              <div class="contentarea">

                <!-- Slider -->
                <div class="fw_block bg_start wall_wrap">
                  <div class="row">
                    <div class="col-sm-12 first-module module_slider module_cont pb0 fullwidthslider">
                      <div class="slider_container">
                        <div class="fullscreen_slider">
                          <ul>
                            <!-- SLIDE 1 -->

                            <li data-index="rs-1" data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                              <img   src={{ asset("img/russia2018.jpg") }}  alt="slide1" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                              <!-- LAYER NR. 1 -->
                              <div  class="tp-caption tp-resizeme tp-resizeme slide_title70 bold light text-uppercase z_index2"
                                   id="slide-1-layer-1"
                                   data-x="center" data-hoffset="0"
                                   data-y="top" data-voffset="136"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:-200px;opacity:0;s:1000;e:Power4.easeOut;"
                                   data-transform_out="opacity:0;s:500;s:500;"
                                   data-start="1500"
                                   data-elementdelay="0.05"><p class="titre1">
                                      Bienvenue en Russie!</p>
                              </div>

                              <!-- LAYER NR. 2 -->
                              <div class="tp-caption tp-resizeme slide_subtitle25 light z_index3"
                                   id="slide-1-layer-2"
                                   data-x="center" data-hoffset="0"
                                   data-y="top" data-voffset="210"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                                   data-transform_out="opacity:0;s:500;s:500;"
                                   data-start="2000"
                                   data-elementdelay="0.05"><div  style="top: 76.193px;transition: none;line-height: 42px;border-width: 0px;margin: 0px;padding: 0px;letter-spacing: 0px;font-weight: 500;font-size: 25px;left: 248px;">
                                  <div id="countdown"></div>
                                </div>
                              </div>
                              <!-- LAYER NR. 3 -->
                              <div class="tp-caption tp-resizeme slide_btn dark_parent z_index5"
                                   id="slide-1-layer-3"
                                   data-x="left" data-hoffset="430"
                                   data-y="top" data-voffset="270"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                   data-transform_out="opacity:0;s:500;s:500;"
                                   data-start="2500"
                                   data-elementdelay="0.05">
                              </div>
                              <!-- LAYER NR. 4 -->
                              <!--<div class="tp-caption tp-resizeme slide_btn dark_parent z_index5"
                                   id="slide-1-layer-4"
                                   data-x="left" data-hoffset="592"
                                   data-y="top" data-voffset="270"
                                   data-whitespace="nowrap"
                                   data-transform_idle="o:1;"
                                   data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                   data-transform_out="opacity:0;s:500;s:500;"
                                   data-start="2500"
                                   data-elementdelay="0.05"><a class="shortcode_button btn_normal btn_type6" href="javascript:void(0);">Get in Touch<i class="fa fa-angle-double-right"></i></a>
                              </div>-->
                            </li>


                          </ul>

                        </div>

                      </div>
                    </div>
                  </div>


                </div>
                <!-- //Slider -->

                <div class="fw_block bg_start stretch portfolio_bg1">
                  <div class="row">
                    <div class="col-sm-6 module_cont pb0"><img src={{ asset("img/2.png") }}></div>
                    <div class="col-sm-6 module_cont pb60">
                      <div class="module_content">

                        <h3 class="titre1" style="color: white;">Russie</h3>

                        <div class="pb10"></div>
                        <ul>
                          <li>La Russie est le plus grand pays au monde.</li>
                          <li>Elle est peuplée de plus de 140 millions d’habitants.</li>
                          <li>Plus de la moitié d’entre eux sont supporters et suivent le football.</li>
                          <li>La Coupe du Monde de la FIFA, Russie 2018™ et la Coupe des Confédérations de la FIFA 2017 sont la chance de montrer au monde l’hospitalité, la générosité et la fiabilité du pays, qui a la joie et la responsabilité d’être l’hôte de ces compétitions.</li>
                        </ul>
                        <div class="pb20"></div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="fw_block bg_start stretch portfolio_bg2 pt65 mb65">
                  <div class="row">
                    <div class="col-sm-12 module_cont module_title pb5">
                      <div class="bg_title">
                        <h2>My Working Process</h2>
                        <div class="icon_divider"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row flip_box_section pb40">
                    <div class="col-sm-3 module_cont">
                      <div class="flip-box-wrap">
                        <div class="flip-box">
                          <div class="ifb-flip-box">
                            <div class="ifb-face ifb-front">
                              <div class="ifb-flip-box-section ">
                                <h5>Actualité</h5>
                                <p class="mb24">Lorem ipsum dolor sit amet</p>
                                <div class="flip-box-icon">
                                  <i class="fa fa-newspaper-o"></i>
                                </div>
                                <p>Duis aute irure dolor in reprehender in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                              </div>
                            </div><!-- END .front -->
                            <div class="ifb-face ifb-back">
                              <div class="ifb-flip-box-section">
                                <h5>More Info</h5>
                                <div class="ifb-desc-back">
                                  <p>Duis aute irure dolor in reprehender in voluptate velit esse cillum dolore eu fugiat nulla.</p>
                                </div>
                                <a class="shortcode_button btn_small btn_type1" href="javascript:void(0);">Learn More<i class="fa fa-angle-double-right"></i></a>
                              </div>
                            </div><!-- //back -->
                          </div><!-- //ifb-flip-box -->
                        </div><!-- //flip-box -->
                      </div>
                    </div>
                    <div class="col-sm-3 module_cont">
                      <div class="flip-box-wrap">
                        <div class="flip-box yellow_bg">
                          <div class="ifb-flip-box">
                            <div class="ifb-face ifb-front">
                              <div class="ifb-flip-box-section ">
                                <h5>Recommandations</h5>
                                <p class="mb24">Quisque nec dictum lorem</p>
                                <div class="flip-box-icon">
                                  <i class="fa fa-star"></i>
                                </div>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan, totam rem.</p>
                              </div>
                            </div><!-- END .front -->
                            <div class="ifb-face ifb-back">
                              <div class="ifb-flip-box-section">
                                <h5>More Info</h5>
                                <div class="ifb-desc-back">
                                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan, totam rem.</p>
                                </div>
                                <a class="shortcode_button btn_small btn_type1" href="javascript:void(0);">Learn More<i class="fa fa-angle-double-right"></i></a>
                              </div>
                            </div><!-- //back -->
                          </div><!-- //ifb-flip-box -->
                        </div><!-- //flip-box -->
                      </div>
                    </div>
                    <div class="col-sm-3 module_cont">
                      <div class="flip-box-wrap">
                        <div class="flip-box green_bg">
                          <div class="ifb-flip-box">
                            <div class="ifb-face ifb-front">
                              <div class="ifb-flip-box-section ">
                                <h5>Resultats</h5>
                                <p class="mb24">Nunc sit amet augue tellus</p>
                                <div class="flip-box-icon">
                                  <i class="fa fa-list"></i>
                                </div>
                                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                              </div>
                            </div><!-- END .front -->
                            <div class="ifb-face ifb-back">
                              <div class="ifb-flip-box-section">
                                <h5>More Info</h5>
                                <div class="ifb-desc-back">
                                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                                <a class="shortcode_button btn_small btn_type1" href="javascript:void(0);">Learn More<i class="fa fa-angle-double-right"></i></a>
                              </div>
                            </div><!-- //back -->
                          </div><!-- //ifb-flip-box -->
                        </div><!-- //flip-box -->
                      </div>
                    </div>
                    <div class="col-sm-3 module_cont">
                      <div class="flip-box-wrap">
                        <div class="flip-box red_bg">
                          <div class="ifb-flip-box">
                            <div class="ifb-face ifb-front">
                              <div class="ifb-flip-box-section ">
                                <h5>Programmme</h5>
                                <p class="mb24">Maecenas ac interdum justo</p>
                                <div class="flip-box-icon">
                                  <i class="fa fa-calendar"></i>
                                </div>
                                <p>Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volup.</p>
                              </div>
                            </div><!-- END .front -->
                            <div class="ifb-face ifb-back">
                              <div class="ifb-flip-box-section">
                                <h5>More Info</h5>
                                <div class="ifb-desc-back">
                                  <p>Veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volup.</p>
                                </div>
                                <a class="shortcode_button btn_small btn_type1" href="javascript:void(0);">Learn More<i class="fa fa-angle-double-right"></i></a>
                              </div>
                            </div><!-- //back -->
                          </div><!-- //ifb-flip-box -->
                        </div><!-- //flip-box -->
                      </div>
                    </div>
                  </div>
                </div>













              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

  {% endblock %}
