<head></head>
<br>
<br>
<center>
    <div align="center"  style="font-size: 15px; font-weight: bold; font-family: arial, times, serif;color:Tomato;">{{ Actualite.titre }}</div></center>

<div align="centre">  <img src="{{ asset('images/') }}{{ Actualite.nomImage2 }}" height="150" width="300"></div>
<center><table>
        <tr><td></td>
            <td>
            </td>
        </tr>

        <div>  {{ Actualite.texte }}</div>
        <tr><td></td>
            <td></td>
        </tr>


    </table>

</center>


